doctype html
html
    head
        style
            include ../public/styles.css
        title Chat App
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js")
        script(src="http://code.jquery.com/jquery-latest.min.js")
    body
        h1 Chat Application
        
        section(id="chatroom")
            section(id="feedback")

        section(id="inputZone")
            input(id="username",type="text")
            input(id="message",type="text")
            button(id="sendMessage",type="button") Send

        script(src="chat.js")